[package]
name = "z-play-rs"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["lib", "cdylib"]

[dependencies]
log = "0.4"
env_logger = "0.11"

thiserror = "2.0"
rand = "0.9"
rayon = "1.11"
jwalk = "0.8"

flume = { version = "0.12", features = ["async"] }
parking_lot = "0.12"

glib = "0.21"
gstreamer = "0.24"
gstreamer-app = "0.24"
gstreamer-video = "0.24"
gstreamer-pbutils = "0.24"

eframe = "0.33"

rfd = "0.16"

keepawake = "0.6"
