[package]
name = "z-play"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["lib", "cdylib"]

[dependencies]
log = "0.4"
env_logger = "0.11"

thiserror = "2.0"
rand = "0.9"
rayon = "1.11"
jwalk = "0.8"

flume = { version = "0.12", features = ["async"] }
parking_lot = "0.12"

glib = "0.22.0-alpha.2"
gstreamer = "0.25.0-alpha.1"
gstreamer-app = "0.25.0-alpha.1"
gstreamer-video = "0.25.0-alpha.1"

eframe = "0.33"
rfd = "0.17"
keepawake = "0.6"

# HTTP Server
tokio = { version = "1", default-features = false, features = ["rt", "rt-multi-thread", "net"] }
tower = "0.5"
tower-http = { version = "0.6", features = ["fs", "compression-full", "set-header"] }
axum = "0.8"
urlencoding = "2.1"
