[package]
name = "z-play"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["lib", "cdylib"]

[features]
default = ["app", "http"]
app = ["dep:glib", "dep:gstreamer", "dep:gstreamer-app", "dep:gstreamer-video", "dep:eframe", "dep:rfd", "dep:keepawake"]
http = ["dep:tokio", "dep:tower", "dep:tower-http", "dep:axum", "dep:urlencoding"]

[dependencies]
log = "0.4"
env_logger = "0.11"

thiserror = "2.0"
rand = { version = "0.10", features = ["simd_support"] }
rayon = "1.11"
jwalk = "0.8"

flume = { version = "0.12", features = ["async"] }
parking_lot = "0.12"

glib = { version = "0.21", optional = true }
gstreamer = { version = "0.24", optional = true }
gstreamer-app = { version = "0.24", optional = true }
gstreamer-video = { version = "0.24", optional = true }

eframe = { version = "0.33", optional = true }
rfd = { version = "0.17", optional = true }
keepawake = { version = "0.6", optional = true }

# HTTP Server
tokio = { version = "1", optional = true, default-features = false, features = ["rt", "rt-multi-thread", "parking_lot", "net"] }
tower = { version = "0.5", optional = true }
tower-http = { version = "0.6", optional = true, features = ["fs", "compression-full", "set-header"] }
axum = { version = "0.8", optional = true }
urlencoding = { version = "2.1", optional = true }
